
/*------------------------------------通用样式 : 后缀为Com---------------------------------*/

	html,body{ width:100%; height: 100%; background: #f5f5f5 ; font-size: 100px;}	
	/*--------------整体-------------*/
	.wrap{ width:100%; height:100%; position: absolute;}
	.wrapForm{ width:100%; height:100%; position: relative;}
	/*--------------头部-------------*/
	.head_Com{ width: 100%; height: .44rem; background-color: #EEEEEE;  display: -webkit-box; -webkit-box-align: center; position: fixed; top: 0; z-index: 200;}
	.head_Com>div{ font-family: "黑体",arial; width: 100%; height: .44rem;text-align: center; line-height: .44rem; font-size: .17rem;}
	.head_Com>img{width: 10%;  margin-top: .03rem;}
	.scmimg_Com{ width: auto; height: .18rem; position: absolute; top: .13rem; left: .122rem;}
	.kouda_Com>div{ font-family: "黑体",arial;width: 10%; height: .44rem; text-align: center;position: absolute; top: 0; left: .1rem;line-height: .44rem; font-size: .14rem;}
	
	/*-----底部弹出框（仿select）-----*/
	.contentPopup_Com{ position: fixed; top: 0rem; bottom: 0; width: 100%; overflow-x: hidden; z-index: 500;}
	.pageBgPopup_Com{position: absolute; z-index: 150; top: 0; left: 0; width: 100%; height: 100%; background: #000000; background: rgba(0, 0, 0, 0.15);}
	.selectPopup_Com{ position: absolute; z-index: 200; left: 0; bottom: 0px; width: 100%; height: 1.86rem; background: #FFFFFF;}
	.selectPopup_Com div{ position: relative; width: 100%; height: 1.55rem; margin: .15rem 0; overflow: auto; -webkit-overflow-scrolling: touch;}
	.selectPopup_Com p{ position: relative; width: 90%; height: auto; padding: .06rem 5%; line-height: .19rem; text-align: center; font-size: .16rem; color: #9E9E9F;}		


	.contentPopup{ position: fixed; top: 45px; bottom: 0; width: 100%; overflow-x: hidden;}
	.pageBgPopup{position: fixed; z-index: 150; top: 0; left: 0; width: 100%; height: 100%; background: #000000; background: rgba(0, 0, 0, 0.15);}
	.selectPopup{ position: fixed; z-index: 200; left: 0; bottom: 0px; width: 100%; height: 240px; background: #FFFFFF;}
	.selectPopup div{ position: relative; width: 100%; height: 200px; margin: 20px 0; overflow: auto; -webkit-overflow-scrolling: touch;}
	.selectPopup p{ position: relative; width: 90%; height: auto; padding: 8px 5%; line-height: 24px; text-align: center; font-size: 20px; color: #9E9E9F;}		



	/*------右上角 的编辑图标-------*/	
	.scmimg2_Com{ width: 7%; position: absolute; top: .10rem; right: .18rem;}
	

	/*--------通用输入框(小)--------*/
	.textFieldLow_Com{ height: .42rem; display: -webkit-box; -webkit-box-align: center; width: 96%; margin-left: 2%; padding-right: 2%; border-bottom: 1px solid #ededed;}
	.texFidLLeft_Com{ width: 47.5%; height: .42rem; line-height: .42rem; font-size: .14rem; color: #585858;}
	.texFidLRight_Com{ box-sizing: border-box; padding-right: .08rem; width: 50%; height: .42rem; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: end;}
	.texFidLRight_Com>input{ border: none; text-align: right; padding: 0; font-size: .14rem; font-family: "黑体",arial; color: #9e9e9e; box-sizing: border-box; width: 100%; height: .41rem; line-height: .43rem; border-radius: 3px;}

	
	/*--------通用输入框(大)--------*/
	.textFieldHigh_Com{ height: .54rem; display: -webkit-box; -webkit-box-align: center; width: 96%; margin-left: 2%; padding-right: 2%; border-bottom: 1px solid #ededed;}
	
	
	/*底部导航*/
	/*.nav{ background: #FFFFFF; width: 100%; height: .50rem; position: fixed; bottom: 0; border-top: 1px solid #CCCCCC;}
	.chooseNav{ width: 80%; margin-left: 10%; height: .50rem; display: -webkit-box;}
	.chooseNav div{ -webkit-box-flex: 1;}
	.chooseNav div:nth-child(2){ text-align: center; }
	.chooseNav div:nth-child(3){ text-align: right; }
	.chooseNav div img{ height: .36rem; margin: .07rem 0;}
	.hideNav{ display: none;}
	.hide_Mde{ display: none;}
*/


/*-------------------------------个人资料编辑页 personalData.blade.php : 后缀为Pda---------------------------------*/
	/*-----------------------头部-----------------------*/
	.head_Pda{ position: fixed; top: 0; left: 0; z-index: 500;}
	/*-----------------------content部分-----------------------*/	
	.content_Pda{ position: relative; top: .44rem; bottom: 0; width: 100%; height: auto; padding-bottom: 10px;}
	.data_Pda{ width: 100%; height: auto;}
	.box_Pda{ width: 100%; background: #FFFFFF; margin-top: .12rem;border-top-style: solid;border-width: 1px;border-bottom-style: solid;border-color: #FF99DB;}
	.boxName_Pda{ width: 100%; background: #FFFFFF; margin-top: .14rem;}
	.box1_Pda{ width: 100%; background: #FFFFFF;}

	.box_Pda>div{ width: 96%; margin-left: 2%; padding-right: 2%; border-bottom: 1px solid #ededed;}
	.boxName_Pda>div{ width: 94%; margin-left: 3%; padding-right: 3%;}
	.box1_Pda>div{  border-bottom: 1px solid #ededed;}
	.box_Pda>div:last-child{ border: none;}
	.box1_Pda>div:last-child{ border-top-style: solid;border-width: 1px;border-bottom-style: solid;border-color: #FF99DB;}
	.portrait_Pda{ height: .96rem; display: -webkit-box; -webkit-box-align: center;}
	.left_Pda{ width: 47.5%; height: .96rem; line-height: .98rem; font-size: .16rem; color: #585858;}
	.right_Pda{ width: 50%; height: .96rem; box-sizing: border-box; padding-right: .055rem; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: end;}
	.right_Pda img{ width: .68rem; height: .68rem; border: 1px solid #9E9EA0; border-radius:.51rem;; margin-top: .03rem;}
	.portrait_Pda>img{ width: .06rem; margin-top: .055rem;}
	.other_Pda{ height: .54rem; display: -webkit-box; -webkit-box-align: center;border-top-style: solid;border-width: 1px;border-bottom-style: solid;border-color: #FF99DB;}
	.otherName_Pda{ height: .42rem; display: -webkit-box; -webkit-box-align: center;}
	.other_Pda>img{ width: .06rem; margin-top: .055rem;}
	.right1_Pda>input{ border: none; text-align: right; padding: 0; font-size: .14rem; font-family: "黑体",arial; color: #9e9e9e; box-sizing: border-box; width: 100%; height: .53rem; line-height: .55rem; border-radius: 3px;}
	.right1_Pda{ box-sizing: border-box; padding-right: .08rem; width: 45%; height: .54rem; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: end;}
	.left1_Pda{ margin-left: 3%;width: 47.5%; height: .54rem; line-height: .54rem; font-size: .16rem; color: #585858;}
	.direction_Pda{ width: 100%;  height: .16rem; background: #f5f5f5; padding-top: .15rem;}
	.direction_Pda>div{ width: 97%;  margin-left: 3%; height: .12rem; color: #33D1C2; font-size: .12rem; line-height: .12rem;}
	.inputName_Pda{ width: 100%; height: .20rem; line-height: .16rem; font-size: .15rem; color: #585858; border: none;}
	/*-----------------------弹出框-----------------------*/
	.contentPopup_Pda{ position: fixed;}
	.loading_Pda{ position: absolute; z-index: 999; top: 2.2rem; left: 46%; width: 8%; height: auto; display: none;}
/*---------------------------------------------------------------------------------------------------*/


/*-------------------------------个人资料导航页 user.blade.php : 后缀为User---------------------------------*/
	.left_User{ width: 25%; height: .96rem; box-sizing: border-box; padding-left: .055rem; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: stepStarLight_Pde;}
	.right_User{ width: 72%; height: .96rem; line-height: .98rem; font-size: .16rem; color: #585858; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: start;}
	.left_User img{ width: .68rem; height: .68rem; border: 1px solid #9E9EA0; border-radius: 3px; margin-top: .03rem;border-radius:.51rem;}
/*---------------------------------------------------------------------------------------------------*/

/*-------------------------------活动订单页 activityOrder.blade.php : 后缀为Aod---------------------------------*/
	.left_Aod{ width: 25%; height: .96rem; box-sizing: border-box; padding-left: .055rem; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: stepStarLight_Pde;}
	.right_Aod{ width: 75%; height: .96rem; line-height: .98rem; font-size: .16rem; color: #585858; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: start;}
	.left_Aod img{ width: .68rem; height: .68rem; border: 1px solid #9E9EA0; border-radius: 3px; margin-top: .03rem;}
	.head_Com_Aod{ width: 100%; height: .44rem; background: #FFFFFF; display: -webkit-box; -webkit-box-align: center; position: fixed; top: 0; z-index: 200;}
	.head_Com_Aod>div{ font-family: "黑体",arial; width: 60%; height: .44rem; text-align: right; line-height: .44rem; font-size: .17rem;}
	.head_Com_Aod>.head_img{ width: 40%;  margin-top: .03rem;}
	.head_img>i{ width: .06rem; padding-right:20%}
	.section_Ado{width:33%; text-align: center}
	.det2_Aod{ display: none;}
	.det3_Aod{ display: none;}
	.on>a{color:#CF0000; text-decoration:underline;font-weight:bold; }
/*---------------------------------------------------------------------------------------------------*/

/*-------------------------------发布活动页 addOrder.blade.php : 后缀为Add---------------------------------*/
	.left_Add{ width: 25%; height: .96rem; box-sizing: border-box; padding-left: .055rem; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: stepStarLight_Pde;}
	.right_Add{ width: 72%; height: .96rem; line-height: .98rem; font-size: .16rem; color: #585858; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: start;}
	.left_Add img{ width: .68rem; height: .68rem; border: 1px solid #9E9EA0; border-radius: 3px; margin-top: .03rem;border-radius:.51rem;}
	.right1_Add{ box-sizing: border-box; padding-right: .08rem; width: 72%; height: .54rem; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: start;}
	.left1_Add{ margin-left: 3%;width: 25%; height: .54rem; line-height: .54rem; font-size: .16rem; color: #585858;}
	.right1_Add>input{ border: none; text-align: left; padding: 0; font-size: .14rem; font-family: "黑体",arial; color: #9e9e9e; box-sizing: border-box; width:	100%; height: .53rem; line-height: .55rem; border-radius: 3px;}
	.right1_Add>p{ border: none; text-align: left; padding: 0; font-size: .16rem; color: #585858; box-sizing: border-box; height: .54rem; line-height: .54rem; border-radius: 3px;}
	.direction_Add{ width: 100%; background: #fb8c00;text-align: center;color:#FFFFFF;}
	
/*---------------------------------------------------------------------------------------------------*/

/*-------------------------------发布活动详情页 activity_detail_using.blade.php : 后缀为Adu---------------------------------*/
	.other_Adu{ height: .4rem; display: -webkit-box; -webkit-box-align: center;border-top-style: solid;border-width: 1px;border-bottom-style: solid;border-color: #FF99DB;}
	.status{width:100%;}
	.status>p{ border: none; text-align: left; padding: 0; font-size: .16rem; color: #585858; box-sizing: border-box; height: .54rem; line-height: .54rem; border-radius: 3px;}
	.status>button{margin-top: 10px;width: 84px;line-height:30px;height: 30px;color: white;background: #fb8c00;border-radius:8px;border-style:solid;border-width: 1px;padding: 0px;
}
/*---------------------------------------------------------------------------------------------------*/

	
/*--------------iPhone5-------------*/
@media only screen and (min-width:320px) {
	html{
		font-size: 100px;
	}
}
/*--------------iPhone6-------------*/
@media only screen and (min-width:375px) {
	html{
		font-size: 100px;
	}
}
/*--------------iPhone6 Plus-------------*/
@media only screen and (min-width:414px) {
	html{
		font-size: 129px;
	}
}






